<!DOCTYPE html>
<html>
<head>
    <title>Submitted Entries</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            font-size: 10px;
        }
    </style
</head>
<body>
    <h1>Game Stats</h1>
    <p>ID: {{ entry.id }}</p>
    <p>Team: {{ entry.team }}</td>
    <p>Match ID: {{ entry.matchid }}</p>
    <p>User: {{ entry.user }}</p>
    <p>Total Score: {{ entry.total_score }}</p>

    <h1>Auto</h1>
        <p>Moved: {{ entry.moved }}</p>
        <p>L1: {{ entry.auto_l1 }}</p>
        <p>L2: {{ entry.auto_l2 }}</p>
        <p>L3: {{ entry.auto_l3 }}</p>
        <p>L4: {{ entry.auto_l4 }}</p>
        <p>Auto Algae (Processor): {{ entry.auto_algae_processor }}</p>
        <p>Auto Algae (Barge): {{ entry.auto_algae_barge }}</p>
        <p>Auto Algae (Remove): {{ entry.auto_algae_remove }}</p>

    <h1>Teleop</h1>
        <p>L1: {{ entry.teleop_l1 }}</p>
        <p>L2: {{ entry.teleop_l2 }}</p>
        <p>L3: {{ entry.teleop_l3 }}</p>
        <p>L4: {{ entry.teleop_l4 }}</p>
        <p>Auto Algae (Processor): {{ entry.teleop_algae_processor }}</p>
        <p>Auto Algae (Barge): {{ entry.teleop_algae_barge }}</p>
        <p>Auto Algae (Remove): {{ entry.teleop_algae_remove }}</p>

    <h1>Endgame</h1>
        <p>Died: {{ entry.died }}</p>
        <p>Defense Rating: {{ entry.defense_rating }}</p>
        <p>Climb Type: {{ entry.climb_type }}</p>
        <p>Comment: {{ entry.comment }}</p>
    
    <h1>Pit data</h1>
        <p>{{ pit_data }}</p>
</body>
</html>
