<!DOCTYPE html>

<html>
    <head>
        <title>Submitted Entries</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>Login state:</h1>
        <p>{{ state }}</p>
        <script>
            document.cookie = "uuid={{ uuid }};";
            document.cookie = "can_write={{ can_write }};";
            document.cookie = "can_read={{ can_read }};";
            document.cookie = "name={{ username }};";
            document.cookie = "is_admin={{ is_admin }};"
        </script>
    </body>
</html>
